PORT=4000

PG_HOST=localhost
PG_PORT=5432
PG_DATABASE=wasco_water_billing
PG_USER=postgres
PG_PASSWORD=12345

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=wasco_water_billing
MYSQL_USER=root
MYSQL_PASSWORD=123456

JWT_SECRET=change-me
